.App {
  display: flex;
  justify-content: center;
  padding: 80px;
}

.card {
  width: 400px;
}

.card h2 {
  border-bottom: 1px solid #ddd;
  padding: 20px 40px;
  text-align: center;
  margin: 0;
}

.card-content {
  padding: 40px;
}